html, body {
    font-family: Arial, Helvetica, sans-serif;
    /*background:url(../img/grid.jpg) repeat;*/
    /*background-color:#396;*/
    font-size: 11px;
    margin: 0;
    padding: 0;
    /*background: url("/images/main_bg.png") repeat-x scroll 0 0 #FFFFFF;*/
    background-color: #FAFAFA;
    color: #635B53;
}

#content {
    font-family: sans-serif;
    background: #fff;
    width: 970px;
    margin: auto;
    background: url("../images/des/bg_cont.html") repeat-x scroll center bottom #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 2px #CFCFCF;
    height: auto;
    margin-bottom: 20px;
    text-align: right;
    padding-top: 5px;
    min-height: 400px;
}

#menu-wrap {
    background: url("../images/tpl/menu-bg.jpg") repeat-x scroll 0 0 transparent;
    border-bottom: 1px solid #CCCCCC;
    width: 100%;
}

#menu {
    width: 970px;
    margin: auto;
    height: 40px;
}

#menu ul {
    list-style: none;
    display: inline;
}

#menu ul li {
    display: inline;
    float: left;
    height: 40px;
    min-width: 120px;
    padding: 0 5px;
    position: relative;
}

#menu ul li a {
    color: #055988;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    height: inherit;
    line-height: 3em;
    text-align: center;
    width: inherit;
    text-decoration: none;
}

#menu ul li:hover {
    min-width: 118px;
    background: #e6ecf1 url('../images/tpl/menu-hover-bg.jpg');
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

#content span#left {
    float: left;
    margin-left: 5px;
}

#footer {
    width: 970px;
    text-align: right;
    margin: 0 auto;
    position: relative;
}

#footer-wrap {
    background: url("../images/tpl/footer_bg.png") repeat-x scroll 0 0 #107DBE;
    min-height: 95px;
    width: 100%;
    overflow: auto;
}

#footnote {
    position: relative;
    width: 970px;
    margin: auto;
}

#header-wrap {
    height: 95px;
    width: 100%;
}

#header {
    width: 970px;
    margin: auto;
    height: auto;
}

#header #logo img.logo {
    display: block;
    position: relative;
    top: 0px;
}

#header #logo span.icon {
    display: block;
    position: relative;
    top: 10px;
    height: 30px;
    float: right;
}

#header #logo span.nav {
    clear: both;
    position: relative;
    top: 10px;
    float: right;
}

#header #logo span.feedback, span.feedback a {
    clear: both;
    float: right;
    color: #EFEFEF;
    font-size: 1.0em;
    text-align: right;
    text-shadow: none;
    text-decoration: none;
}

span.lang {
    float: right;
}

#footer a {
    position: relative;
    top: 20px;
}

#footer span {
    position: relative;
    top: 10px;
}

#brdcrmp {
    clear: both;
    width: 970px;
    margin: auto;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

/*#breadcrumb:first-letter{
  text-transform: capitalize
}

#breadcrumb:first-letter{
  text-transform: lowercase
}*/
.search {
    float: right;
}

#parent {
    font-size: 12px;
    text-decoration: none;
    border: 1px solid #3a84da;
    padding: 3px;
    background: #3a84da;
    color: #FFF;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    top: 5px;
}

.map-layout {
    background: url(../images/map/ru/41700000000000.jpg) no-repeat;
    height: 500px;
    width: 970px;
    margin: 0 auto;
}