@charset "utf-8";
/* CSS Document */
.search_div{
	text-align:left;
	padding: 10px;
	min-height:500px;
	font-size:14px;
}
.parent_name{
	font-size:10px;
	text-transform: lowercase; 	
}
li#list{
	font-size:14px;
	list-style-image:url(../../images/search/bullet-1.png);
	text-transform: uppercase; 
}

li#error{
	font-size:14px;
	list-style-image:url(../../images/search/bullet-2.png);
	text-transform: uppercase; 
}
h2 {
	font-size: 140%;
	padding-bottom: 2px;
	border-bottom: 1px solid #CCC;
	margin: 0;
}
.search_text{
	width: 300px;
	font-size: 24px;
	height: 30px;
}

table.search_table{
	width: 100%;
}
table.search_table tr{
	vertical-align:top;
}