<div id="diseases">
    <div id="diseasemap container">
        <div class="diseases-wrapper row">
            <div class="diseases-sunburst col-xs-12 col-sm-12 col-md-6"></div>
            <div class="diseases-chart  col-xs-12 col-sm-12 col-md-6">
                <div id="diseases-chart-breadcrumb">
                </div>
            </div>
        </div>
    </div>
</div>