<div id="targetDiv">
    <div class="map-layout">
        <div class="wrapper">
            <div id="map"></div>
        </div>
    </div>
    <div class="nivo-lightbox-overlay nivo-lightbox-theme-default nivo-lightbox-effect-slideDown nivo-lightbox-open"
         ng-show="showChart">
        <div class="nivo-lightbox-wrap">
            <div class="nivo-lightbox-content">
                <svg class="chart"></svg>
            </div>
            <div class="nivo-lightbox-title-wrap"></div>
        </div>
        <a class="nivo-lightbox-close" title="Close"
           ng-click="showChart=false">Закрыть</a></div>
</div>
